# API Settings
API__PORT=8000
API__TITLE=BE Answer Hub API

# Database Connection (PostgreSQL)
DATABASE__HOST=postgres
DATABASE__PORT=5432
DATABASE__USER=postgres
DATABASE__PASSWORD=postgres
DATABASE__NAME=answer_hub
DATABASE__POOL_SIZE=20
DATABASE__MAX_OVERFLOW=10

# Logger Settings
LOGGER__LEVEL=INFO
